<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact me</title>
    <li><a href="index">Home</a></li>
</head>
<body bgcolor="skyblue" >
<p><h3><center><strong>Contact me</strong></center></h3></p>
<p><h3><center><strong>...........................................................................</strong></center></h3></p>
<p><h3><center><strong>Mobile number:phone!! +917674870947</strong></center></h3></p>
<p><h3><center><strong>Mail me:<a href="thatiparthibhaskar809@gmail.com">thatiparthibhaskar809@gmail.com</a></strong></center></h3></p>
<p><h3><center><strong>MAP: <a href="https://www.google.com/maps/@17.4402819,78.4269934,16z?hl=en">map</a> </strong></center></h3></p>
</body>
</html>