<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qualification</title>
</head>
<body bgcolor="skyblue">
<center><table border="3">
    <li><a href='contact'>Home</a></li>
    <tr border='3'>
        <h4>:: BHASKAR'S  QUALIFICATION ::</h4>
    </tr>
	<tr>
	<td><strong><center>Qualification</center></strong></td>
	<td><strong><center>Institute/Unicersity</center></strong></td>
	<td><strong><center>Year of Pass</center></strong></td>
	<td><strong><center>Percentage</center></strong></td>
	</tr>
	<tr>
	<td>MASTER OF COMPUTER APPLICATIONS </td>
	<td>SRI VENKATESWARA UNIVERSITY </td>
	<td>2020</td>
	<td>74%</td>
	</tr>
	<tr>
	<td>B.Sc </td>
	<td>VIKRAMA SIMHAPURI UNIVERSITY </td>
	<td>2017</td>
	<td>63%</td>
	</tr>
	<tr>
	<td>INTERMEDIATE  </td>
	<td>BOARD OF INTERMEDIATE </td>
	<td>2014</td>
	<td>54%</td>
	</tr>
	<tr>
	<td>SSC </td>
	<td>BOARD OF SECONDARY EDUCATION </td>
	<td>2012</td>
	<td>67%</td>
	</tr>
</table>
<center>
</body>
</html>