<style>
ul {
  list-style-type: none;
  margin: 50;
  padding:50px;
  top :10px;
  overflow: hidden;
  bgrcolor=skyblue;
  font-color=skyblue;
}

li {
  float: left;
  padding: 40px;
  bgrcolor=skyblue;
  font-color=skyblue;

}

li a {
  display: block;
  padding: 10px;
  margin : 10px
  background-color: #dddddd;
  font-color=skyblue;

}
li a:hover{
background-color:white;
margin:20px;
font-color=skyblue;
}
</style>